.player {
  margin: 40px auto;
  width: max-content;
  text-align: center;
  padding: 25px;
  border: 2px solid #ff4fa3;
  border-radius: 20px;
  box-shadow: 0 0 20px #ff4fa3;
  background: rgba(0,0,0,0.7);
}

/* Buttons neon */
.btn-neon {
  padding: 12px 25px;
  margin: 10px;
  font-size: 17px;
  color: #fff;
  background: transparent;
  border: 2px solid #ff4fa3;
  border-radius: 30px;
  cursor: pointer;

  text-shadow: 0 0 5px #ff4fa3;
  box-shadow: 0 0 10px #ff4fa3, inset 0 0 10px #ff4fa3;
  transition: 0.25s;
}

.btn-neon:hover {
  box-shadow: 0 0 25px #ff4fa3, inset 0 0 12px #ff4fa3;
  color: #ff4fa3;
}
